*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    min-height: 100vh;
    background-color: #b66be7;
}

nav{
    position: fixed;
    top: 0%;
    background-color: #0000007e;
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .logo{
    width: 150px;
    padding: 10px;

}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav .menu-icon{
    display: none;
    cursor: pointer;
}

nav ul li{
    padding: 20px;
}

nav ul li:not(.lg)::after{
    display: block;
    content: '';
    width: 0%;
    background-color: #fff;
    transition: 0.5s;
    height: 3px;
}

nav ul li:hover::after{
    width: 100%;
}

nav ul li.lg{
    margin-left: 30px;
}

nav ul li.lg a{
    border-radius: 30px;
    padding: 7px 40px;
    background-color: #000;
    color: #fff;
}

nav ul li.lg a:hover{
    color: rgba(255, 255, 255, 0.63);
    transition: 0.5s;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}


.container__games{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}


.footer-grid{
    background-image: linear-gradient(180deg, #560d86, #31044e);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

footer ul{
    list-style: none;
}

footer li a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

footer li a:hover{
    color: rgba(255, 255, 255, 0.63);
    transition: 0.5s;
}

footer .sobre__nos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    grid-row-start: 1;
    grid-column-start: 2;
}

footer .acessibilidade{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    grid-column-start: 2;

}

footer .redes__sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    grid-row-start: 3;
    grid-column-start: 2;
}
footer .redes__sociais li a img{
    width: 30px;
    padding: 3px;
}

footer .redes__sociais li a{
    display: flex;
    align-items: center;
}

footer .topo{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10%;
    grid-row-start: 2;
    grid-column-start: 3;
}
footer .topo li a{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}

@media(max-width: 850px){
    nav .menu-icon{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 60%;
        transform: translatex(-100%);
        transition: 0.6s;
    }
    nav ul.activo{
        transform: translateX(0%);

    }
    nav ul li.lg{
        border: 1px solid white;
        margin-left: 0;
    }
    nav ul li:not(.lg)::after{
        background-color: white;
    }

    nav ul li a{
        color: white;
        font-size:24px;
    }
    main{
        flex-direction: column;
        padding: 20px;
    }
    main .container__main{
        width: 100%;
        text-align: center;
    }
    .main__introduction img{
        margin-top: 70px;
        width: 90%;
    }
    main .container__main h1{
        font-size: 2rem;
    }
    footer li a{
        display: flex;
    }
}
