*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    min-height: 100vh;
    background-color: #b66be7;
}

nav{
    position: fixed;
    top: 0%;
    background-color: #0000007e;
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .logo{
    width: 150px;
    padding: 10px;

}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav .menu-icon{
    display: none;
    cursor: pointer;
}

nav ul li{
    padding: 20px;
}

nav ul li:not(.lg)::after{
    display: block;
    content: '';
    width: 0%;
    background-color: #fff;
    transition: 0.5s;
    height: 3px;
}

nav ul li:hover::after{
    width: 100%;
}

nav ul li.lg{
    margin-left: 30px;
}

nav ul li.lg a{
    border-radius: 30px;
    padding: 7px 40px;
    background-color: #000;
    color: #fff;
}

nav ul li.lg a:hover{
    color: rgba(255, 255, 255, 0.63);
    transition: 0.5s;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.w50{
    width: 100%;
    float: left;
    padding-right: 15px;
}

.box{
    display: flex;
    height: 100vh;
    width: 50%;
    margin: 15% 0% 10% 0%;
    margin-left: auto;
    margin-right: auto;
}

.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 40px;
    width: 50%;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}


.img-box img{
    width: 100%;
}

.form-box{
    width: 80%;
    background-color: #ffffff77;
    padding: 30px 40px;
    border-radius: 0 20px 20px 0;
}

.form-box h2{
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);;
}

.form-box p{
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 15px;
}

.form-box p a{
    color: rgba(0, 2, 145, 0.719);
    text-decoration: none;
}

.form-box form{
    margin: 20px 0;
}

form .input-group{
    margin-bottom: 15px;
}

form .input-group label{
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form .input-group input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 25px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #1f1e1e;
    transition: all 0.4s ease;
}

form .input-group input:focus{
    border-color: #3d3d3d;
}


form .input-group button{
    width: 100%;
    height: 47px;
    background: rgb(0, 0, 0);
    border-radius: 25px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

form .input-group button:hover{
    color: rgba(255, 255, 255, 0.63);
    transition: 0.5s;
}

form .esqueceu-senha{
    text-align: center;

}
form .esqueceu-senha label{
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 5px;

}

.footer-grid{
    background-image: linear-gradient(180deg, #560d86, #31044e);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

footer ul{
    list-style: none;
}

footer li a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

footer li a:hover{
    color: rgba(255, 255, 255, 0.63);
    transition: 0.5s;
}

footer .sobre__nos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    grid-row-start: 1;
    grid-column-start: 2;
}

footer .acessibilidade{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    grid-column-start: 2;

}

footer .redes__sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    grid-row-start: 3;
    grid-column-start: 2;
}
footer .redes__sociais li a img{
    width: 30px;
    padding: 3px;
}

footer .redes__sociais li a{
    display: flex;
    align-items: center;
}

footer .topo{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10%;
    grid-row-start: 2;
    grid-column-start: 3;
}
footer .topo li a{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.footer .social-field {
    padding: 0.4rem;
    border-radius: 25px;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 15px;
    text-align: center;
}

.footer .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}

.footer .social-field a {
    text-decoration: none;
    color: white;
}

.footer .social-field.twitter {
    background: linear-gradient(to right, #56a7f2, #468aca);
}

.footer .social-field.facebook {
    background: linear-gradient(to right, #1e3c72, #2a5298);
}


@media(max-width: 850px){
    nav .menu-icon{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 60%;
        transform: translatex(-100%);
        transition: 0.6s;
    }
    nav ul.activo{
        transform: translateX(0%);

    }
    nav ul li.lg{
        border: 1px solid white;
        margin-left: 0;
    }
    nav ul li:not(.lg)::after{
        background-color: white;
    }

    nav ul li a{
        color: white;
        font-size:24px;
    }
    main{
        flex-direction: column;
        padding: 20px;
    }
    main .main__text{
        width: 100%;
        text-align: center;
    }
    main .main__img{
        margin-top: 70px;
        width: 100;
    }
}

@media (max-width: 850px){
    main .main__text h1 b{
        font-size: 3.5rem;
    }
    main .main__text h1 strong{
        font-size: 2rem;
    }
}

@media(max-width:950px){
    .img-box{
        display: none;
    }
    .box{
        width: 700px;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;
    }
}

@media(max-width:500px){
    .w50{
       width: 100%;
        padding: 0;
    }
}

@media(max-width: 850px){
    .footer-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;

    }

    footer li > a{
        display: flex;
        color: #fff;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
    }
    footer .sobre__nos{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row-start: 1;
        grid-column-start: 2;
    }
}